/*
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "url";

nav a {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #FFF;
  text-decoration: none;
  &:hover {
    color: #FFF;
  }
}
.navbar {
  padding: 0;
}
.content {
  padding: 0.5rem;
 }