h1 {
  margin-bottom: 1rem;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
table.table {
  width: 30%;
}
.form-control {
  margin-bottom: 0.5rem;
}
.quantidade {
  display: flex;
  justify-content: center;
}